@supports (display: grid) {
    .supports-grid\:underline {
        text-decoration-line: underline
    }
}
@supports (display:grid) {
    .supports-\[display\:grid\]\:grid {
        display: grid
    }
}
@supports (transform-origin:5% 5%) {
    .supports-\[transform-origin\:5\%_5\%\]\:underline {
        text-decoration-line: underline
    }
}
@supports selector(A>B) {
    .supports-\[selector\(A\>B\)\]\:underline {
        text-decoration-line: underline
    }
}
@supports not (foo:bar) {
    .supports-\[not\(foo\:bar\)\]\:underline {
        text-decoration-line: underline
    }
}
@supports (foo:bar) or (bar:baz) {
    .supports-\[\(foo\:bar\)or\(bar\:baz\)\]\:underline {
        text-decoration-line: underline
    }
}
@supports (foo:bar) and (bar:baz) {
    .supports-\[\(foo\:bar\)and\(bar\:baz\)\]\:underline {
        text-decoration-line: underline
    }
}
@supports (container-type: var(--tw)) {
    .supports-\[container-type\]\:underline {
        text-decoration-line: underline
    }
}
  