.mt-min {
    margin-top: min(100vmin, 3rem)
}
.-mt-min {
    margin-top: calc(min(100vmin, 3rem) * -1)
}
.mt-max {
    margin-top: max(100vmax, 3rem)
}
.-mt-max {
    margin-top: calc(max(100vmax, 3rem) * -1)
}
.mt-clamp {
    margin-top: clamp(1rem, 100vh, 3rem)
}
.-mt-clamp {
    margin-top: calc(clamp(1rem, 100vh, 3rem) * -1)
}