
    /* --- */
    .border {
    border-width: 1px
}
    .border-red-500 {
    --tw-border-opacity: 1;
    border-color: rgb(239 68 68 / var(--tw-border-opacity))
}
    @media (min-width: 768px) {
    .md\:border-2 {
        border-width: 2px
    }
}
  