.font-bold {
      font-weight: 700;
}

    .foo {
      font-weight: 700;
}

    .bar {
      --tw-text-opacity: 1;
      color: rgb(239 68 68 / var(--tw-text-opacity));
      font-weight: 700;
}

    .bar:hover {
      --tw-text-opacity: 1;
      color: rgb(34 197 94 / var(--tw-text-opacity));
}

    .baz {
      text-decoration-line: underline;
      --tw-text-opacity: 1;
      color: rgb(239 68 68 / var(--tw-text-opacity));
      font-weight: 700;
}

    .baz:hover {
      --tw-text-opacity: 1;
      color: rgb(34 197 94 / var(--tw-text-opacity));
}

    .keep-me-even-though-I-am-not-used-in-content {
      color: green;
    }
  