@media (min-width: 640px) {
    .sm\:container {
        width: 100%
    }
    @media (min-width: 640px) {
        .sm\:container {
            max-width: 640px
        }
    }
    @media (min-width: 768px) {
        .sm\:container {
            max-width: 768px
        }
    }
    @media (min-width: 1024px) {
        .sm\:container {
            max-width: 1024px
        }
    }
    @media (min-width: 1280px) {
        .sm\:container {
            max-width: 1280px
        }
    }
    @media (min-width: 1536px) {
        .sm\:container {
            max-width: 1536px
        }
    }
}