[workspace]
members = ["xtask", "packages/*"]


resolver = "2"


[workspace.package]
authors      = ["강동윤/Donny <kdy.1997.dev@gmail.com>"]
edition      = "2021"
homepage     = "https://github.com/swc-project/plugins"
license      = "Apache-2.0"
repository   = "https://github.com/swc-project/plugins.git"
rust-version = "1.70"

[workspace.dependencies]
Inflector                   = "0.11.4"
anyhow                      = "1.0.83"
base64                      = "0.22"
byteorder                   = "1"
cargo_metadata              = "0.18.1"
cipher                      = "0.4.4"
clap                        = "4.5.4"
convert_case                = "0.6.0"
default-from-serde          = "0.1"
fxhash                      = "0.2.1"
handlebars                  = "5.1.2"
hex                         = "0.4.3"
lightningcss                = "1.0.0-alpha.59"
magic-crypt                 = "3.1.13"
once_cell                   = "1.19.0"
parcel_selectors            = "0.27.0"
phf                         = "0.11.2"
preset_env_base             = "0.6.0"
radix_fmt                   = "1"
regex                       = { version = "1.10.4", default-features = false }
serde                       = "1.0.203"
serde_json                  = "1.0.117"
sourcemap                   = "9.0.0"
swc_atoms                   = "1.0.1"
swc_cached                  = "0.3.20"
swc_common                  = "0.40.1"
swc_core                    = "0.106.4"
swc_css_ast                 = "0.147.0"
swc_css_codegen             = "0.158.0"
swc_css_compat              = "0.34.0"
swc_css_minifier            = "0.123.0"
swc_css_parser              = "0.157.0"
swc_css_prefixer            = "0.161.0"
swc_css_visit               = "0.146.0"
swc_ecma_ast                = "0.121.1"
swc_ecma_codegen            = "0.158.1"
swc_ecma_minifier           = "0.208.1"
swc_ecma_parser             = "0.152.1"
swc_ecma_transforms         = "0.243.0"
swc_ecma_transforms_base    = "0.149.0"
swc_ecma_transforms_react   = "0.195.0"
swc_ecma_transforms_testing = "0.152.0"
swc_ecma_utils              = "0.137.0"
swc_ecma_visit              = "0.107.0"
swc_plugin_macro            = "0.9.16"
swc_plugin_proxy            = "0.50.1"
swc_trace_macro             = "1.0.0"
testing                     = "0.42.0"
tracing                     = "0.1.40"


[profile.release]
codegen-units = 1
# debug = true
lto = true

# Optimize for size
opt-level = "s"

# Strip debug symbols
strip = "symbols"
