[workspace]
members = [
  "xtask",
  "packages/emotion",
  "packages/jest",
  "packages/loadable-components",
  "packages/noop",
  "packages/react-remove-properties",
  "packages/relay",
  "packages/remove-console",
  "packages/styled-components",
  "packages/styled-jsx",
  "packages/swc-magic",
  "packages/transform-imports",

]


resolver = "2"


[workspace.package]
authors = ["강동윤/Donny <kdy.1997.dev@gmail.com>"]
edition = "2021"
homepage = "https://github.com/swc-project/plugins"
license = "MIT"
repository = "https://github.com/swc-project/plugins.git"
rust-version = "1.73"


[profile.release]
codegen-units = 1
# debug = true
lto = true

# Optimize for size
opt-level = "s"

# Strip debug symbols
strip = "symbols"
