[workspace]
members = [
  "packages/emotion",
  "packages/jest",
  "packages/loadable-components",
  "packages/fusion",
  "packages/fusion-asseturl",
  "packages/fusion-gql",
  "packages/styled-components",
  "packages/styled-jsx",
  "packages/transform-imports",
  "packages/relay",
  "packages/noop",
]

[profile.release]
codegen-units = 1
# debug = true
lto = true

# Optimize for size
opt-level = "s"

# Strip debug symbols
strip = "symbols"
