[workspace]
members = [
  "xtask",
  "packages/constify",
  "packages/emotion",
  "packages/jest",
  "packages/loadable-components",
  "packages/noop",
  "packages/react-remove-properties",
  "packages/relay",
  "packages/remove-console",
  "packages/styled-components",
  "packages/styled-jsx",
  "packages/transform-imports",

]


resolver = "2"


[profile.release]
codegen-units = 1
# debug = true
lto = true

# Optimize for size
opt-level = "s"

# Strip debug symbols
strip = "symbols"
