.bg-\[hsl\(var\(--foo\)\2c 50\%\2c 50\%\)\] {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--foo) 50% 50% / var(--tw-bg-opacity))
}
.bg-\[hsl\(123\2c var\(--foo\)\2c 50\%\)\] {
    --tw-bg-opacity: 1;
    background-color: hsl(123 var(--foo) 50% / var(--tw-bg-opacity))
}
.bg-\[hsl\(123\2c 50\%\2c var\(--foo\)\)\] {
    --tw-bg-opacity: 1;
    background-color: hsl(123 50% var(--foo) / var(--tw-bg-opacity))
}
.bg-\[hsl\(var\(--foo\)\2c 50\%\2c 50\%\)\]\/50 {
    background-color: hsl(var(--foo) 50% 50% / 0.5)
}
.bg-\[hsl\(123\2c var\(--foo\)\2c 50\%\)\]\/50 {
    background-color: hsl(123 var(--foo) 50% / 0.5)
}
.bg-\[hsl\(123\2c 50\%\2c var\(--foo\)\)\]\/50 {
    background-color: hsl(123 50% var(--foo) / 0.5)
}
.bg-\[hsl\(var\(--foo\)\2c var\(--bar\)\2c var\(--baz\)\)\]\/50 {
    background-color: hsl(var(--foo) var(--bar) var(--baz) / 0.5)
}
  