@keyframes spin {
    to {
        transform: rotate(360deg)
    }
}
.animate-spin {
    animation: spin 1s linear infinite
}
@keyframes spin {
    to {
        transform: rotate(360deg)
    }
}
.hover\:animate-spin:hover {
    animation: spin 1s linear infinite
}
@keyframes bounce {
    0%, 100% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8,0,1,1)
    }
    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0,0,0.2,1)
    }
}
.hover\:animate-bounce:hover {
    animation: bounce 1s infinite
}
@keyframes spin {
    to {
        transform: rotate(360deg)
    }
}
.focus\:animate-spin:focus {
    animation: spin 1s linear infinite
}
@keyframes bounce {
    0%, 100% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8,0,1,1)
    }
    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0,0,0.2,1)
    }
}
.focus\:animate-bounce:focus {
    animation: bounce 1s infinite
}
  