[package]
description = "styled-components plugin for https://swc.rs"
edition = "2018"
license = "Apache-2.0"
name = "swc_plugin_styled_components"
version = "0.25.0"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
serde = {version = "1.0.136", features = ["derive"]}
serde_json = "1.0.79"
styled_components = "0.47.0"
swc_common = { version = "0.29.5", features = ["concurrent"] }
swc_core = { version = "0.34.1", features = [
  "plugin_transform",
  "ecma_utils",
  "ecma_visit",
  "ecma_ast",
  "common",
] }
