[package]
description = "styled-components plugin for https://swc.rs"
edition = "2021"
license = "Apache-2.0"
name = "swc_plugin_styled_components"
publish = false
version = "0.40.2"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
serde = { version = "1.0.136", features = ["derive"] }
serde_json = "1.0.79"
styled_components = { path = "./transform" }
swc_atoms = "0.6.5"
swc_common = { version = "0.33.16", features = ["concurrent"] }
swc_core = { version = "0.90.0", features = ["ecma_plugin_transform"] }
swc_ecma_ast = "0.112.0"
swc_ecma_utils = "0.127.0"
swc_ecma_visit = "0.98.0"
swc_plugin_macro = "0.9.16"
tracing = { version = "0.1.37", features = ["release_max_level_off"] }
