.font-normal {
    font-weight: 400
}
.test\:font-bold *::test {
    font-weight: 700
}
.test\:font-medium *::test {
    font-weight: 500
}
.test\:font-bold::test {
    font-weight: 700
}
.test\:font-medium::test {
    font-weight: 500
}
.hover\:test\:font-black *:hover::test {
    font-weight: 900
}
.hover\:test\:font-black:hover::test {
    font-weight: 900
}