.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem;
    padding-left: 2rem
}
@media (min-width: 400px) {
    .container {
        max-width: 400px
    }
}
@media (min-width: 500px) {
    .container {
        max-width: 500px
    }
}