[package]
authors = ["강동윤 <kdy1997.dev@gmail.com>"]
description = "Internal swc plugin used for integration test"
edition = "2018"
license = "Apache-2.0"
name = "swc_internal_test"
version = "0.1.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
abi_stable = "0.10.2"
phf = {version = "0.10.0", features = ["macros"]}
serde = {version = "1.0.130", features = ["derive"]}
swc_atoms = "0.2.7"
swc_common = {version = "0.14.4", features = ["concurrent"]}
swc_ecmascript = {features = ["utils", "visit"], version = "0.84.0"}
swc_plugin = "0.9.0"
