@media (max-width: 400px) {
    @media (min-width: 100px) {
        .testmax-\[400px\]\:testmin-\[100px\]\:underline {
            text-decoration-line: underline
        }
    }
    @media (min-width: 200px) {
        .testmax-\[400px\]\:testmin-\[200px\]\:underline {
            text-decoration-line: underline
        }
    }
}
@media (max-width: 300px) {
    @media (min-width: 100px) {
        .testmax-\[300px\]\:testmin-\[100px\]\:underline {
            text-decoration-line: underline
        }
    }
    @media (min-width: 200px) {
        .testmax-\[300px\]\:testmin-\[200px\]\:underline {
            text-decoration-line: underline
        }
    }
}
  