.alphabet-a\:underline[data-value="a"] {
    text-decoration-line: underline
}
.alphabet-b\:underline[data-value="b"] {
    text-decoration-line: underline
}
.alphabet-c\:underline[data-value="c"] {
    text-decoration-line: underline
}
.alphabet-d\:underline[data-value="d"] {
    text-decoration-line: underline
}
  