@keyframes zoom-\.5 {
    to {
        transform: scale(0.5)
    }
}
.animate-zoom-\.5 {
    animation: zoom-\.5 2s
}
@keyframes zoom-1\.5 {
    to {
        transform: scale(1.5)
    }
}
.animate-zoom-1\.5 {
    animation: zoom-1\.5 2s
}