
      h2 {
    font-size: 1.25rem;
    line-height: 1.75rem
}
      @media (min-width: 1024px) {
    h2 {
        font-size: 1.875rem;
        line-height: 2.25rem
    }
}
      @media (min-width: 640px) {
    h2 {
        font-size: 1.5rem;
        line-height: 2rem
    }
}
    