[package]
authors = ["강동윤 <kdy1997.dev@gmail.com>"]
description = "SWC plugin for styled-jsx"
edition = "2021"
license = "Apache-2.0"
name = "swc_plugin_styled_jsx"
version = "0.3.0"

[lib]
crate-type = ["cdylib", "rlib"]

[features]
plugin = ["swc_core/plugin_transform"]
custom_transform = ["swc_core/common_concurrent"]

[dependencies]
easy-error = "1.0.0"
tracing = "0.1.32"

swc_core = { version = "0.28.10", features = [
  "common",
  "css_ast",
  "css_codegen",
  "css_parser",
  "css_prefixer",
  "css_visit",
  "ecma_parser",
  "ecma_minifier",
  "ecma_utils",
  "ecma_visit"
] }
