[package]
authors = ["강동윤 <kdy1997.dev@gmail.com>"]
description = "SWC plugin for styled-jsx"
edition = "2021"
license = "Apache-2.0"
name = "swc_plugin_styled_jsx"
version = "0.2.0"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
anyhow = "1.0.56"
easy-error = "1.0.0"
swc_atoms = "0.2.11"
swc_common = "0.17.18"
swc_css = "0.103.0"
swc_css_prefixer = "0.99.3"
swc_ecmascript = { version = "0.140.0", features = ["minifier", "utils", "visit"] }
swc_plugin = "0.40.0"
tracing = "0.1.32"
