[package]

description = "SWC Plugin for styled-jsx"


authors      = { workspace = true }
edition      = { workspace = true }
homepage     = { workspace = true }
license      = { workspace = true }
name         = "swc_plugin_styled_jsx"
publish      = false
repository   = { workspace = true }
rust-version = { workspace = true }
version      = "0.20.4"


[lib]
crate-type = ["cdylib", "rlib"]

[features]
custom_transform = ["swc_common/concurrent"]

[dependencies]
anyhow            = "1"
serde_json        = "1"
styled_jsx        = { path = "./transform" }
swc_atoms         = "0.6.7"
swc_common        = "0.34.0"
swc_core          = { version = "0.95.0", features = ["ecma_plugin_transform"] }
swc_ecma_ast      = "0.115.0"
swc_ecma_minifier = "0.197.0"
swc_ecma_parser   = "0.146.0"
swc_ecma_utils    = "0.130.0"
swc_ecma_visit    = "0.101.0"
swc_plugin_macro  = "0.9.16"
tracing           = { version = "0.1.40", features = ["release_max_level_off"] }

[dev-dependencies]
swc_ecma_transforms_testing = "0.143.0"
testing                     = "0.36.0"
