.bg-red-400 {
    --tw-bg-opacity: 1;
    background-color: rgb(248 113 113 / var(--tw-bg-opacity))
}
.bg-red-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(239 68 68 / var(--tw-bg-opacity))
}
.bg-red-400\/40 {
    background-color: rgb(248 113 113 / 0.4)
}
.bg-red-400\/50 {
    background-color: rgb(248 113 113 / 0.5)
}
.bg-red-500\/40 {
    background-color: rgb(239 68 68 / 0.4)
}
.bg-red-500\/50 {
    background-color: rgb(239 68 68 / 0.5)
}
.fill-red-200\/50 {
    fill: rgb(254 202 202 / 0.5)
}
.uppercase {
    text-transform: uppercase
}
.text-red-200\/50 {
    color: rgb(254 202 202 / 0.5)
}
.ring-red-200\/50 {
    --tw-ring-color: rgb(254 202 202 / 0.5)
}
.hover\:bg-red-400:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(248 113 113 / var(--tw-bg-opacity))
}
.hover\:bg-red-500:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(239 68 68 / var(--tw-bg-opacity))
}
.hover\:bg-red-400\/40:hover {
    background-color: rgb(248 113 113 / 0.4)
}
.hover\:bg-red-400\/50:hover {
    background-color: rgb(248 113 113 / 0.5)
}
.hover\:bg-red-500\/40:hover {
    background-color: rgb(239 68 68 / 0.4)
}
.hover\:bg-red-500\/50:hover {
    background-color: rgb(239 68 68 / 0.5)
}
.hover\:fill-red-200\/50:hover {
    fill: rgb(254 202 202 / 0.5)
}
.hover\:text-red-200\/50:hover {
    color: rgb(254 202 202 / 0.5)
}
.hover\:ring-red-200\/50:hover {
    --tw-ring-color: rgb(254 202 202 / 0.5)
}