[package]
authors = ["강동윤 <kdy1997.dev@gmail.com>"]
description = "SWC plugin for https://www.npmjs.com/package/babel-plugin-transform-imports"
edition = "2021"
license = "Apache-2.0"
name = "swc_plugin_transform_imports"
version = "0.1.0"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
handlebars = "4.2.2"
once_cell = "1.10.0"
regex = "1.5.5"
serde = { version = "1.0.136", features = ["derive"] }
swc_cached = "0.1.1"
swc_common = "0.17.19"
swc_ecmascript = {version = "0.140.0", features = ["visit"]}
swc_plugin = "0.41.0"
