[package]
authors = ["강동윤 <kdy1997.dev@gmail.com>"]
description = "SWC plugin for https://www.npmjs.com/package/babel-plugin-transform-imports"
edition = "2021"
license = "Apache-2.0"
name = "swc_plugin_transform_imports"
version = "0.2.0"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
modularize_imports = "0.15.0"
serde_json = "1.0.79"
swc_common = { version = "0.27.13", features = ["concurrent"] }
swc_core = { version = "0.11.4", features = [
  "plugin_transform",
  "utils",
  "visit",
  "ast",
  "common",
] }
