[package]
authors = ["강동윤 <kdy1997.dev@gmail.com>"]
description = "SWC plugin for https://www.npmjs.com/package/babel-plugin-transform-imports"
edition = "2021"
license = "Apache-2.0"
name = "swc_plugin_transform_imports"
version = "0.12.0"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
modularize_imports = {version = "0.24.0", path = "./transform"}
serde_json = "1.0.79"
swc_common = { version = "0.29.10", features = ["concurrent"] }
swc_core = { version = "0.40.3", features = [
  "plugin_transform",
  "ecma_utils",
  "ecma_visit",
  "ecma_ast",
  "common",
] }
