[package]
authors.workspace      = true
description            = "Jest plugin for https://swc.rs"
edition.workspace      = true
homepage.workspace     = true
license.workspace      = true
name                   = "swc_plugin_jest"
publish                = false
repository.workspace   = true
rust-version.workspace = true
version                = "0.31.4"


[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
phf              = { version = "0.10.0", features = ["macros"] }
serde            = { version = "1.0.130", features = ["derive"] }
swc_common       = { version = "0.33.19", features = ["concurrent"] }
swc_core         = { version = "0.90.22", features = ["ecma_plugin_transform"] }
swc_ecma_ast     = "0.112.5"
swc_ecma_utils   = "0.127.12"
swc_ecma_visit   = "0.98.6"
swc_plugin_macro = "0.9.16"
tracing          = { version = "0.1.37", features = ["release_max_level_off"] }
