[package]
authors = ["강동윤 <kdy1997.dev@gmail.com>"]
description = "Jest plugin for https://swc.rs"
edition = "2018"
license = "Apache-2.0"
name = "swc_plugin_jest"
version = "0.6.0"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
abi_stable = "0.10.2"
if_chain = "1.0.2"
phf = {version = "0.10.0", features = ["macros"]}
serde = {version = "1.0.130", features = ["derive"]}
swc_atoms = "0.2.9"
swc_common = {version = "0.15.0", features = ["concurrent"]}
swc_ecmascript = {features = ["utils", "visit"], version = "0.97.0"}
swc_plugin = "0.18.0"
