[package]
authors      = { workspace = true }
description  = "Jest plugin for https://swc.rs"
edition      = { workspace = true }
homepage     = { workspace = true }
license      = { workspace = true }
name         = "swc_plugin_jest"
publish      = false
repository   = { workspace = true }
rust-version = { workspace = true }
version      = "0.31.4"


[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
phf              = { version = "0.11.2", features = ["macros"] }
serde            = { version = "1.0.201", features = ["derive"] }
swc_common       = { version = "0.33.26", features = ["concurrent"] }
swc_core         = { version = "0.92.2", features = ["ecma_plugin_transform"] }
swc_ecma_ast     = "0.113.2"
swc_ecma_utils   = "0.128.1"
swc_ecma_visit   = "0.99.1"
swc_plugin_macro = "0.9.16"
tracing          = { version = "0.1.40", features = ["release_max_level_off"] }
