[package]
authors = ["강동윤 <kdy1997.dev@gmail.com>"]
description = "Jest plugin for https://swc.rs"
edition = "2021"
license = "Apache-2.0"
name = "swc_plugin_jest"
publish = false
version = "0.25.3"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
phf = { version = "0.10.0", features = ["macros"] }
serde = { version = "1.0.130", features = ["derive"] }
swc_common = { version = "0.31.17", features = ["concurrent"] }
swc_core = { version = "0.79.20", features = [
  "ecma_plugin_transform",
  "ecma_utils",
  "ecma_visit",
  "ecma_ast",
  "common",
] }
tracing = { version = "0.1.37", features = ["release_max_level_off"] }
