.font-bold {
    font-weight: 700
}
@media (max-width: 800px) {
    .max-\[800px\]\:font-bold {
        font-weight: 700
    }
}
@media (max-width: 700px) {
    .max-\[700px\]\:font-bold {
        font-weight: 700
    }
}
@media (min-width: 640px) {
    .sm\:font-bold {
        font-weight: 700
    }
}
@media (min-width: 700px) {
    .min-\[700px\]\:font-bold {
        font-weight: 700
    }
}
@media (min-width: 768px) {
    .md\:font-bold {
        font-weight: 700
    }
}
@media (min-width: 800px) {
    .min-\[800px\]\:font-bold {
        font-weight: 700
    }
}
  