
    .foo00 {
      color: #050000;
    }
    .foo01 {
      color: #051000;
    }
    .foo02 {
      color: #051025;
    }
    .foo03 {
      color: rgb(5 0 0 / 10);
    }
    .foo04 {
      color: rgb(5 16 0 / 25);
    }
  