.mt-\[20px\] {
    margin-top: 20px
}
.font-bold {
    font-weight: 700
}
.uppercase {
    text-transform: uppercase
}
.text-gray-200 {
    --tw-text-opacity: 1;
    color: rgb(229 231 235 / var(--tw-text-opacity))
}
.hover\:underline:hover {
    text-decoration-line: underline
}