.bg-foo10 {
    background-color: rgb(255 100 0 / 100%)
}
.bg-foo20 {
    --tw-bg-opacity: 1;
    background-color: rgb(255 100 0 / var(--tw-bg-opacity))
}
.bg-foo30 {
    background-color: rgb(255 100 0 / 100%)
}
.bg-foo40 {
    --tw-bg-opacity: 1;
    background-color: rgb(255 100 0 / var(--tw-bg-opacity))
}
.bg-foo11 {
    background-color: rgb(255 100 0 / 50%)
}
.bg-foo21 {
    background-color: rgb(255 100 0 / 50%)
}
.bg-foo31 {
    background-color: rgb(255 100 0 / 50%)
}
.bg-foo41 {
    background-color: rgb(255 100 0 / 50%)
}