[package]

description = "SWC plugin for preact refresh."


authors      = { workspace = true }
edition      = { workspace = true }
homepage     = { workspace = true }
license      = { workspace = true }
name         = "swc_plugin_prefresh"
publish      = false
repository   = { workspace = true }
rust-version = { workspace = true }
version      = "0.1.0"


[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
serde_json = "1.0.117"
swc_common = { version = "0.36.0" }
swc_core   = { version = "0.99.1", features = ["ecma_plugin_transform"] }

swc_prefresh = { path = "./transform" }
