.col-\[span_3_\/_span_8\] {
    grid-column: span 3 / span 8
}
.row-\[span_3_\/_span_8\] {
    grid-row: span 3 / span 8
}
.m-\[8px_4px\] {
    margin: 8px 4px
}
.flex-\[1_1_100\%\] {
    flex: 1 1 100%
}
.auto-cols-\[minmax\(0\2c _1fr\)\] {
    grid-auto-columns: minmax(0, 1fr)
}
.grid-cols-\[200px_repeat\(auto-fill\2c minmax\(15\%\2c 100px\)\)_300px\] {
    grid-template-columns: 200px repeat(auto-fill,minmax(15%,100px)) 300px
}
.grid-rows-\[200px_repeat\(auto-fill\2c minmax\(15\%\2c 100px\)\)_300px\] {
    grid-template-rows: 200px repeat(auto-fill,minmax(15%,100px)) 300px
}
.rounded-\[0px_4px_4px_0px\] {
    border-radius: 0px 4px 4px 0px
}
.p-\[8px_4px\] {
    padding: 8px 4px
}
.shadow-\[0px_0px_4px_black\] {
    --tw-shadow: 0px 0px 4px black;
    --tw-shadow-colored: 0px 0px 4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}
.drop-shadow-\[0px_1px_3px_black\] {
    --tw-drop-shadow: drop-shadow(0px 1px 3px black);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}
.content-\[_hello_world_\] {
    --tw-content: hello world;
    content: var(--tw-content)
}
.content-\[___abc____\] {
    --tw-content: abc;
    content: var(--tw-content)
}
.content-\[\'__hello__world__\'\] {
    --tw-content: '  hello  world  ';
    content: var(--tw-content)
}