[package]
authors = ["강동윤 <kdy1997.dev@gmail.com>"]
description = "Noop plugin for debugging."
edition = "2018"
license = "Apache-2.0"
name = "swc_plugin_noop"
version = "0.12.1"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
swc_common = { version = "0.29.10", features = ["concurrent"] }
swc_core = { version = "0.40.16", features = [
  "plugin_transform",
  "ecma_utils",
  "ecma_visit",
  "ecma_ast",
  "common",
] }
