[package]
authors = ["강동윤 <kdy1997.dev@gmail.com>"]
description = "Noop plugin for debugging."
edition = "2021"
license = "Apache-2.0"
name = "swc_plugin_noop"
publish = false
version = "0.18.2"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
swc_common = { version = "0.33.16", features = ["concurrent"] }
swc_core = { version = "0.90.0", features = ["ecma_plugin_transform"] }
swc_ecma_ast = "0.112.0"
swc_ecma_utils = "0.127.0"
swc_ecma_visit = "0.98.0"
swc_plugin_macro = "0.9.16"
tracing = { version = "0.1.37", features = ["release_max_level_off"] }
