
    @tailwind utilities;

    @layer utilities {
      .example {
        height: 100px;
        height: 50%;
        height: 20vh;
        height: 200px;
        height: 100%;
        height: 30vh;
      }
    }
  