[package]
authors = [
  "OJ Kwon <kwon.ohjoong@gmail.com>",
  "DongYoon Kang <kdy1997.dev@gmail.com>",
]
description = "formatjs custom transform visitor for SWC"
edition = { workspace = true }
license = { workspace = true }
name = "swc_formatjs_transform"
repository = { workspace = true }
version = "8.0.0"

[features]
custom_transform = []

[dependencies]
base64ct   = { workspace = true, features = ["alloc"] }
digest     = { workspace = true }
hex        = { workspace = true }
md-5       = { workspace = true }
once_cell  = { workspace = true }
regex      = { workspace = true }
serde      = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
sha1       = { workspace = true }
sha2       = { workspace = true }
swc_core   = { workspace = true, features = ["common", "ecma_visit", "ecma_ast"] }

swc_icu_messageformat_parser = { features = [
  "utf16",
], path = "../../../crates/swc_icu_messageformat_parser", version = "4.0.0" }

[dev-dependencies]
pretty_assertions = { workspace = true }
