[package]
authors = ["강동윤 <kdy1997.dev@gmail.com>"]
description = "AST transforms visitor for styled-jsx"
edition = "2021"
license = "Apache-2.0"
name = "styled_jsx"
version = "0.37.0"

[features]
custom_transform = ["swc_core/common_concurrent"]

[dependencies]
easy-error = "1.0.0"
tracing = "0.1.37"
lightningcss = "1.0.0-alpha.44"

swc_core = { version = "0.79.20", features = [
  "common",
  "ecma_ast",
  "ecma_parser",
  "ecma_minifier",
  "ecma_utils",
  "ecma_visit",
] }

[dev-dependencies]
testing = "0.33.20"
swc_core = { features = ["testing_transform"], version = "0.79.20" }
