[package]
authors = ["강동윤 <kdy1997.dev@gmail.com>"]
description = "AST transforms visitor for styled-jsx"
edition = "2021"
license = "Apache-2.0"
name = "styled_jsx"
version = "0.44.0"

[features]
custom_transform = ["swc_common/concurrent"]

[dependencies]
easy-error = "1.0.0"
tracing = "0.1.37"
lightningcss = { version = "1.0.0-alpha.44", features = [
  "visitor",
  "into_owned",
] }
parcel_selectors = "0.26.0"
serde = { version = "1", features = ["derive"] }

swc_common = "0.32.1"
swc_ecma_ast = "0.109.1"
swc_ecma_utils = "0.123.0"
swc_ecma_visit = "0.95.1"
swc_plugin_macro = "0.9.15"
swc_ecma_parser = "0.140.0"
swc_ecma_minifier = "0.187.4"
swc_css_ast = "0.139.1"
swc_css_codegen = "0.149.1"
swc_css_parser = "0.148.1"
swc_css_prefixer = "0.151.1"
swc_css_minifier = "0.114.1"
swc_css_visit = "0.138.1"

[dev-dependencies]
testing = "0.34.1"
swc_ecma_transforms_testing = "0.136.1"
swc_ecma_transforms = "0.224.4"
