[package]

description = "AST transforms visitor for styled-jsx"


authors      = { workspace = true }
edition      = { workspace = true }
homepage     = { workspace = true }
license      = { workspace = true }
name         = "styled_jsx"
repository   = { workspace = true }
rust-version = { workspace = true }
version      = "0.73.13"


[features]
custom_transform = ["swc_common/concurrent"]

[dependencies]
anyhow = "1"
lightningcss = { version = "1.0.0-alpha.49", features = [
  "visitor",
  "into_owned",
] }
parcel_selectors = "0.26.3"
serde = { version = "1", features = ["derive"] }
tracing = "0.1.37"

preset_env_base   = "0.4.7"
swc_common        = "0.33.25"
swc_css_ast       = "0.140.22"
swc_css_codegen   = "0.151.34"
swc_css_compat    = "0.27.34"
swc_css_minifier  = "0.116.33"
swc_css_parser    = "0.150.32"
swc_css_prefixer  = "0.153.36"
swc_css_visit     = "0.139.21"
swc_ecma_ast      = "0.113.0"
swc_ecma_minifier = "0.193.0"
swc_ecma_parser   = "0.144.0"
swc_ecma_utils    = "0.128.0"
swc_ecma_visit    = "0.99.0"
swc_plugin_macro  = "0.9.16"

[dev-dependencies]
swc_ecma_transforms         = "0.230.0"
swc_ecma_transforms_testing = "0.141.0"
testing                     = "0.35.23"
