[package]
authors = ["강동윤 <kdy1997.dev@gmail.com>"]
description = "AST transforms visitor for styled-jsx"
edition = "2021"
license = "Apache-2.0"
name = "styled_jsx"
version = "0.73.6"

[features]
custom_transform = ["swc_common/concurrent"]

[dependencies]
anyhow = "1"
tracing = "0.1.37"
lightningcss = { version = "1.0.0-alpha.49", features = [
  "visitor",
  "into_owned",
] }
parcel_selectors = "0.26.3"
serde = { version = "1", features = ["derive"] }

swc_common = "0.33.17"
swc_ecma_ast = "0.112.2"
swc_ecma_utils = "0.127.3"
swc_ecma_visit = "0.98.2"
swc_plugin_macro = "0.9.16"
swc_ecma_parser = "0.143.3"
swc_ecma_minifier = "0.192.3"
swc_css_ast = "0.140.18"
swc_css_codegen = "0.151.27"
swc_css_parser = "0.150.26"
swc_css_prefixer = "0.153.31"
swc_css_minifier = "0.116.28"
swc_css_visit = "0.139.18"
preset_env_base = "0.4.7"

[dev-dependencies]
testing = "0.35.18"
swc_ecma_transforms_testing = "0.140.3"
swc_ecma_transforms = "0.229.3"
