.test-\[a\2c b\2c c\]\:underline.a > * {
    text-decoration-line: underline
}
.test-\[a\2c b\2c c\]\:underline.b > * {
    text-decoration-line: underline
}
.test-\[a\2c b\2c c\]\:underline.c > * {
    text-decoration-line: underline
}
  