[package]
authors      = { workspace = true }
description  = "SWC plugin for https://www.npmjs.com/package/babel-plugin-transform-imports"
edition      = { workspace = true }
homepage     = { workspace = true }
license      = { workspace = true }
name         = "swc_plugin_emotion"
publish      = false
repository   = { workspace = true }
rust-version = { workspace = true }
version      = "0.18.5"


[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
serde            = "1"
serde_json       = "1.0.117"
swc_common       = { version = "0.36.0", features = ["concurrent"] }
swc_core         = { version = "0.99.1", features = ["ecma_plugin_transform"] }
swc_ecma_ast     = "0.117.0"
swc_ecma_utils   = "0.133.0"
swc_ecma_visit   = "0.103.0"
swc_emotion      = { path = "./transform" }
swc_plugin_macro = "0.9.16"
swc_plugin_proxy = "0.46.0"
tracing          = { version = "0.1.40", features = ["release_max_level_off"] }
