[package]
authors = ["강동윤 <kdy1997.dev@gmail.com>"]
description = "SWC plugin for https://www.npmjs.com/package/babel-plugin-transform-imports"
edition = "2021"
license = "Apache-2.0"
name = "swc_plugin_emotion"
version = "0.12.4"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
serde = "1"
serde_json = "1.0.79"
swc_common = { version = "0.29.13", features = ["concurrent"] }
swc_core = { version = "0.42.0", features = [
  "plugin_transform",
  "ecma_utils",
  "ecma_visit",
  "ecma_ast",
  "common",
] }
swc_emotion = {version = "0.28.0", path = "./transform"}
