[package]
authors = ["강동윤 <kdy1997.dev@gmail.com>"]
description = "SWC plugin for https://www.npmjs.com/package/babel-plugin-transform-imports"
edition = "2021"
license = "Apache-2.0"
name = "swc_plugin_emotion"
version = "0.2.0"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
serde_json = "1.0.79"
swc_ecmascript = {version = "0.181.0", features = ["visit"]}
swc_plugin = "0.79.0"
