[package]

description = "AST Transforms for styled-components"

include = ["Cargo.toml", "src/**/*.rs"]

name = "styled_components"

authors      = { workspace = true }
edition      = { workspace = true }
homepage     = { workspace = true }
license      = { workspace = true }
repository   = { workspace = true }
rust-version = { workspace = true }
version      = "0.96.6"


# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
Inflector = "0.11.4"
once_cell = "1.13.0"
regex = { version = "1.5.4", features = [
  "std",
  "perf",
], default-features = false }
serde = { version = "1.0.130", features = ["derive"] }
swc_atoms = "0.6.5"
swc_common = "0.33.19"
swc_ecma_ast = "0.112.5"
swc_ecma_utils = "0.127.12"
swc_ecma_visit = "0.98.6"
tracing = "0.1.37"

[dev-dependencies]
serde_json                  = "1"
swc_ecma_parser             = "0.143.9"
swc_ecma_transforms         = "0.229.16"
swc_ecma_transforms_testing = "0.140.15"
testing                     = "0.35.20"
