[package]
authors = ["강동윤 <kdy1997.dev@gmail.com>"]
description = "AST Transforms for styled-components"
edition = "2021"
include = ["Cargo.toml", "src/**/*.rs"]
license = "Apache-2.0"
name = "styled_components"
repository = "https://github.com/swc-project/plugins.git"
version = "0.85.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
Inflector = "0.11.4"
once_cell = "1.13.0"
regex = { version = "1.5.4", features = [
  "std",
  "perf",
], default-features = false }
serde = { version = "1.0.130", features = ["derive"] }
swc_atoms = "0.6.4"
swc_common = "0.33.8"
swc_ecma_ast = "0.110.9"
swc_ecma_utils = "0.124.27"
swc_ecma_visit = "0.96.9"
tracing = "0.1.37"

[dev-dependencies]
serde_json = "1"
swc_ecma_parser = "0.141.22"
swc_ecma_transforms = "0.226.39"
swc_ecma_transforms_testing = "0.137.33"
testing = "0.35.10"
