@media (potato: baked) {
    .potato-\[baked\]\:w-3:potato {
        width: 0.75rem
    }
}
@media (potato: yellow) {
    .potato-\[yellow\]\:bg-yellow-200:potato {
        --tw-bg-opacity: 1;
        background-color: rgb(254 240 138 / var(--tw-bg-opacity))
    }
}
  