[package]

description = "SWC plugin for `@loadable/components`"
name = "swc_plugin_loadable_components"
publish = false
version = "0.18.4"
authors.workspace = true
edition.workspace = true
homepage.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true


[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
once_cell = "1.13.1"
regex = "1.6.0"
serde_json = "1.0.79"
swc_common = { version = "0.33.19", features = ["concurrent"] }
swc_core = { version = "0.90.22", features = [
    "ecma_quote",
    "ecma_plugin_transform",
] }
swc_ecma_ast = "0.112.5"
swc_ecma_utils = "0.127.12"
swc_ecma_visit = "0.98.6"
swc_plugin_macro = "0.9.16"
swc_plugin_proxy = "0.41.5"
tracing = { version = "0.1.37", features = ["release_max_level_off"] }

[dev-dependencies]
testing = "0.35.20"
