[package]

authors      = { workspace = true }
description  = "SWC plugin for `@loadable/components`"
edition      = { workspace = true }
homepage     = { workspace = true }
license      = { workspace = true }
name         = "swc_plugin_loadable_components"
publish      = false
repository   = { workspace = true }
rust-version = { workspace = true }
version      = "0.18.4"


[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
once_cell = "1.19.0"
regex = "1.10.4"
serde_json = "1.0.117"
swc_common = { version = "0.33.26", features = ["concurrent"] }
swc_core = { version = "0.92.2", features = [
  "ecma_quote",
  "ecma_plugin_transform",
] }
swc_ecma_ast = "0.113.2"
swc_ecma_utils = "0.128.1"
swc_ecma_visit = "0.99.1"
swc_plugin_macro = "0.9.16"
swc_plugin_proxy = "0.42.1"
tracing = { version = "0.1.40", features = ["release_max_level_off"] }

[dev-dependencies]
testing = "0.35.24"
