[package]
authors = ["강동윤 <kdy1997.dev@gmail.com>"]
description = "SWC plugin for `@loadable/components`"
edition = "2021"
license = "Apache-2.0"
name = "swc_plugin_loadable_components"
version = "0.1.0"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
serde_json = "1.0.79"
swc_common = {version = "0.27.12", features = ["concurrent"]}
swc_core = {version = "0.8.1", features = [
  "plugin_transform",
  "utils",
  "visit",
  "ast",
  "common",
  "quote",
]}
tracing = {version = "0.1.36", features = ["release_max_level_off"]}

[dev-dependencies]
testing = "0.29.4"
