@media (min-width: 1024px) {
    .lg\:hover\:container:hover {
        width: 100%
    }
    @media (min-width: 400px) {
        .lg\:hover\:container:hover {
            max-width: 400px
        }
    }
    @media (min-width: 500px) {
        .lg\:hover\:container:hover {
            max-width: 500px
        }
    }
}