@media (min-width: 100px) {
    @media (max-width: 400px) {
        .testmin-\[100px\]\:testmax-\[400px\]\:underline {
            text-decoration-line: underline
        }
    }
    @media (max-width: 350px) {
        .testmin-\[100px\]\:testmax-\[350px\]\:underline {
            text-decoration-line: underline
        }
    }
    @media (max-width: 300px) {
        .testmin-\[100px\]\:testmax-\[300px\]\:underline {
            text-decoration-line: underline
        }
    }
}
@media (min-width: 150px) {
    @media (max-width: 400px) {
        .testmin-\[150px\]\:testmax-\[400px\]\:underline {
            text-decoration-line: underline
        }
    }
}
  