[package]
authors = ["강동윤 <kdy1997.dev@gmail.com>", "OJ Kwon <kwon.ohjoong@gmail.com>"]
description = "SWC plugin for relay.dev"
edition = "2021"
license = "Apache-2.0"
name = "swc_plugin_relay"
publish = false
version = "0.1.0"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
once_cell = "1.8.0"
regex = "1.5"
serde = "1"
serde_json = "1"
swc_common = {version = "0.27.12", features = ["concurrent"]}
swc_core = {version = "0.8.1", features = [
  "plugin_transform",
  "utils",
  "visit",
  "ast",
  "common",
]}
