[package]
authors      = { workspace = true }
description  = "SWC plugin for relay.dev"
edition      = { workspace = true }
homepage     = { workspace = true }
license      = { workspace = true }
name         = "swc_plugin_relay"
publish      = false
repository   = { workspace = true }
rust-version = { workspace = true }
version      = "0.7.4"


[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
once_cell        = "1.19.0"
regex            = "1.10"
serde            = "1"
serde_json       = "1"
swc_common       = { version = "0.36.0", features = ["concurrent"] }
swc_core         = { version = "0.99.0", features = ["ecma_plugin_transform"] }
swc_ecma_ast     = "0.117.0"
swc_ecma_utils   = "0.133.0"
swc_ecma_visit   = "0.103.0"
swc_plugin_macro = "0.9.16"
swc_relay        = { path = "./transform" }
tracing          = { version = "0.1.40", features = ["release_max_level_off"] }

[dev-dependencies]
