name: Publish

on:
  push:
    branches:
      - main
      - ci

env:
  RUST_LOG: debug
  CARGO_INCREMENTAL: 0

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: 16

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          override: true

      - name: Install wasm target
        shell: bash
        run: |
          rustup target add wasm32-wasi

      - name: Build plugins
        shell: bash
        run: cargo build --all --release --target wasm32-wasi
        env:
          MACOSX_DEPLOYMENT_TARGET: "10.13"

      - name: List files
        shell: bash
        run: |
          ls -al target/wasm32-wasi/release

      - name: Publish npm packages
        run: |
          npm publish --dry-run --workspaces --access public
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
